.box1{
    background-color: #9b6c49;
    height: 120px;
}

.box2{
    background-color: #c28f6b;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}